* {
  box-sizing: border-box;
}

body {
  background: #105f6e8e;
  font-family: Arial;
}

#stopwatch-div,
#timer-div {
  background: #eee;
  width: 700px;
  position: relative;
  top: 50px;
  left: 250px;
  padding: 40px 100px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-family: Verdana;
}

.input-label {
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

#selector {
  width: 255px;
  background: #eee;
  padding: 10px 10px;
  margin: 20px auto;
  border-radius: 3px;
  top: 270px;
  left: 1px;
  position: fixed;
}

#dst-disclaimer {
  font-size: 10px;
}

#world-clocks-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  width: 900px;
  float: right;
  position: fixed;
  top: 90px;
  right: 5px;
  padding: 40px 100px;
  border-radius: 10px;
}

#display-clock {
  display: flex;
  font-family: d7;
  font-size: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  width: 900px;
  float: right;
  position: fixed;
  top: 300px;
  right: 5px;
  padding: 40px 100px;
  border-radius: 10px;
}

@font-face {
  font-family: d7;
  src: url(font/d7.ttf);
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  left: 125px;
}

#display-stopwatch {
  top: 35px;
  background: #eee;
  width: 700px;
  position: relative;
  left: 250px;
  padding: 40px 100px;
  border-radius: 10px;
  font-family: d7;
  font-size: 100px;
  text-align: center;
}

#timer-display {
  background: #eee;
  width: 700px;
  position: relative;
  top: 45px;
  left: 250px;
  padding: 40px 100px;
  border-radius: 5px;
}
.time-input {
  width: 50px;
}

/* hiding the arrows on number inputs code */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#timer-out {
  font-family: d7;
  font-size: 50px;
}
